@font-face {
  font-family: 'Epilogue';
  src: url('../fonts/Epilogue-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Epilogue';
  src: url('../fonts/Epilogue-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Epilogue';
  src: url('../fonts/Epilogue-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
